<%- include('../partials/admin-header.ejs') %>
<div class="content-header">
    <div>
        <h2 class="content-title card-title">Categories</h2>
    </div>
    <div>
        <a href="/admin/categories/add-category" class="btn btn-primary">Add Category</a>
    </div>
</div>
<div class="container pt-5">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Tiger Nixon</td>
                <td>Edinburgh</td>
            </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </tfoot>
    </table>

</div>



<%- include('../partials/admin-footer.ejs') %>