<%- include('../partials/admin-header.ejs') %>

    <section class="content-main">

        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard</h2>
                
            </div>
        </div>

        <div>
            <canvas id="myChart"></canvas>
        </div>

    </section> <!-- content-main end// -->  

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        // Extract product names and quantities from bestSellingProducts
        let productNames = JSON.parse('<%- JSON.stringify(bestSellingProducts.map(item => item.product.name)) %>');
        let productQuantities = JSON.parse('<%- JSON.stringify(bestSellingProducts.map(item => item.totalQuantity)) %>');

        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: productNames,
            datasets: [{
                label: 'Number of Sales',
                data: productQuantities,
                borderWidth: 1
            }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

<%- include('../partials/admin-footer.ejs') %>