.searchbar-top{
    visibility: hidden
}

#otpTimer{
    font-weight: bold;
}

.bluebutton{
    background-color: blue;
}

.redbutton{
    background-color: red;
}

.green_radio .form-check-input:checked  {
    opacity: 1;
    background-color: #088178;
}