<%- include('../partials/user-header.ejs') %>

<div class="container d-flex justify-content-center align-items-center h-100vh mt-50 mb-200">

  <div class="col-lg-5 mx-auto">

    <div class="col-lg-5 " style="width: 500px;">
      <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
          <div class="padding_eight_all bg-white">
              <div class="text-center mb-30">
                <h2>CARMINE</h2>
              </div>
              <div class="heading_s1 text-center">
                  <h3 class="mt-50 mb-30">Reset Password</h3>
              </div>
              <form action="" method="post">

                  <div class="form-group">
                      <label class="form-label">New Password</label>
                      <input type="password" name="password" class="form-control form-control-lg" required/>
                      
                      <input type="hidden" name="user_id" value="<%= user_id %>" class="form-control form-control-lg" required/>
                  </div>

                    <%if(typeof message !== 'undefined'){%>
            
                        <h4><%= message %></h4>
                    
                   <% } %> 

                  <div class="form-group mt-30">
                      <input type="submit"  value="Reset Password" class=" btn btn-main btn-fill-out btn-block hover-up" name="reset">
                  </div>

                  
              </form>
          </div>
      </div>
    </div>

  </div>

</div>


<%- include('../partials/user-footer.ejs') %>

